<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934696101440-ch041l7tvda803ushvao12j7jao9bm3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934696101440-ch041l7tvda803ushvao12j7jao9bm3e</string>
	<key>API_KEY</key>
	<string>AIzaSyDCBcVbCe1-W2FuD-SYciOnmTBMrGh1afU</string>
	<key>GCM_SENDER_ID</key>
	<string>934696101440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imli.foodscanner</string>
	<key>PROJECT_ID</key>
	<string>imli-e0360</string>
	<key>STORAGE_BUCKET</key>
	<string>imli-e0360.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934696101440:ios:c3f3d12761fc394746a1a5</string>
</dict>
</plist>